
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form method="post" action="/Login/Index">
    <label for="username">Admin</label>
    <input type="text" name="username" placeholder="Enter Admin">

    <label for="password">Contraseña</label>
    <input type="password"name="password" placeholder="Enter Password">

    <input type="submit" value="Log in">

    <a href="#">Password lost</a>
    <a href="#">Create count</a>
 
</form>
